@font-face {
  font-family: 'ABeeZee', sans-serif;
  src: url("/font/ABeeZee.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url("/fonts/SourceCodePro.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Figtree', sans-serif;
  src: url("/font/Figtree.ttf") format("truetype");
  font-display: swap;
}



:root {
  --bright-blue: #36c6fb;
  --light-blue: #91e2ffce;
  --very-light-blue: #baedff;
  --very-dark-green: #132f1e;
  --dark-green: #2e522b;
  --medium-green: #76b070;
  --semi-opaque-green: #64d6ff4d;
  --medium-light-green: #76b07080;
  --pale-orange: #EAE6E2;
}

.brand-main {
  min-height: calc(100vh - 78px);
  padding: 2rem 1rem 2.5rem;
  background: var(--pale-orange);
}

.brand-sect{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
  font-family: "ABeeZee", sans-serif;

}

.brand-container{
  display: flex;
  gap: 2em;
}

.brand-hr{
  width: 100%;
  border: 3px dashed var(--medium-green);
}

.brand-card{
  width:  clamp(300px, 10vw, 600px);
  height: clamp(300px, 6vw, 400px);
  padding: 1em;
  border: 2px black solid;
  border-radius: 20px;
  background-color: white;
}

.brand-card-small{
  width:  clamp(200px, 8vw, 300px);
  height: clamp(120px, 5vw, 180px);
  padding: 1em;
  border: 2px black solid;
  border-radius: 20px;
}

.brand-head-img{
  transform: scale(0.7);
}


.brand-card-img{

}

.brand-title{
  font-size: clamp(2rem, 4vw, 4rem);
  margin: 0 0 0.4rem;
  font-family: 'ABeeZee', sans-serif;  
}

.brand-subtitle{
    
}

.brand-h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.brand-h3{
    font-size: 25px;
    font-weight: 600;
    text-align: center;

}
.brand-h4{
    font-size: 30px;
    font-weight: 500;
    text-align: center;

}

.brand-p{
    font-size: 20px;
    text-align: center;
    font-family: "Figtree", sans-serif;

}

